{% extends "core/base.html" %}
{% load static %}


{% block body%}
    <section class="hero-section-other static-bg" id="top" style="background-image:url({% static 'img/head_banner/About-Us.jpg' %}); ">
        </section>

        <div class="ats-about-us">
            <div class="container">
                <section class="about-us-left">
                    <header>
                        <h2 class="section-title-left">ABOUT US</h2>
                    </header>
                    <p>
                        We are one of the leading pole manufacturing organizations in Nagpur, India. We are an ISO 9001:2015 certified company for Quality Management System. Our experience in the line of Pole Production for many years gave us a variety of clients from organizations of various domains around the country. Our clientele is always satisfied with the quality we deliver which in turn brings us more business and the excitement to keep working for the industry for the long run.

                    </p>
                    <p>
                        We are also work in industrial fabrication such as industrial shed parts, industrial job work, solar
                        structure according to specification drawing provided by customer.
                    </p>
                </section>
            </div>
        </div>

        <div class="ats-organization section-padding">
            <div class="container no-padding">
                <div class="col-sm-8 col-xs-12 col-sm-offset-2 ">
                    <section class="about-us-left background-white">
                        <header>
                            <h2 class="section-title-left">Mission</h2>
                        </header>
                        <p>
                            To deliver world class superior quality and value added products to our customers at Competitive prices
                            on demand, thereby creating a good portfolio.
                        </p>
                    </section>
                </div>

            </div>
        </div>


{% endblock %}


{% block js %}

{% endblock %}