{% extends "core/base.html" %}
{% load static %}


{% block body%}
    <section class="hero-section-other static-bg" id="top" style="background-image:url({% static 'img/head_banner/Contact-Us.jpg' %}); ">
        </section>

        <div class="container section-padding text-center">
            <div class="col-sm-4">
                <h3>Registered Office</h3>
                <p>
                    Plot No. 04, Block No. 1,<br>
                    Railway Karmachari Gruh Nirman<br>
                    Society, Omkar Nagar, Nagpur-27.
                </p>
            </div>

            <div class="col-sm-4">
                <h3>Factory Address</h3>
                <p>
                    Umiya Industrial Estate,<br>
                    Behind Suruchi Masala Factory,<br>
                    Bhandara Road, Kapsi, Nagpur. <br>
                </p>
            </div>
             <div class="col-sm-4">
                <h3>Contact Details</h3>
                <p>
                    <i class="fa fa-mobile"> +9130199796</i><br>
                    <i class="fa fa-envelope"><a href="mailto:fabrecanagpur@gmail.com"> fabrecanagpur@gmail.com</a></i>

                </p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row contact-container" >
                <div>
                    <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d119084.18591182896!2d78.99757019640869!3d21.137238276258916!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4c7366fdba58f%3A0x536301da1022312c!2sAnand+Top+Security+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1497193531771"  frameborder="0" allowfullscreen></iframe>-->
                </div>
            </div>
        </div>

{% endblock %}


{% block js %}

{% endblock %}