{% extends "core/base.html" %}
{% load static %}


{% block body%}
<section class="hero-section-other static-bg" id="top"
         style="background-image:url({% static 'img/head_banner/Products.jpg' %}); ">
</section>

<div class="container" id="sub_menu">
    <div id='TabContainer'>
        <div class='accordion-wrapper'>
            <header>
                <h2 class="section-title-left">Products</h2>
            </header>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne">
                                HIGH MAST POLES
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="col-sm-4">
                                <img class="img-responsive" src="{% static 'img/gallery/1.jpg' %}" alt=""/>
                            </div>
                            <div class="col-sm-8">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                                nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                            <div class="col-sm-12" style="overflow-x: scroll;">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>Height <br>In M</th>
                                        <th>No. of <br> Sectors</th>
                                        <th>Sides</th>
                                        <th>Length Of<br> Each Section</th>
                                        <th>Top Bottom<br> Diam Mm</th>
                                        <th>Sheet <br>Thickness</th>
                                        <th>Base Plar<br> Details in Dia<br> X Thickness In Mm</th>
                                        <th>Foundation Bolts(mm)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>12.5m</td>
                                        <td>2</td>
                                        <td>120</td>
                                        <td>6500</td>
                                        <td>100/360</td>
                                        <td>3,3</td>
                                        <td>540x20 mm</td>
                                        <td>M24x750x6 nos</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>12.5m</td>
                                        <td>2</td>
                                        <td>20</td>
                                        <td>6500</td>
                                        <td>100/410</td>
                                        <td>3,3</td>
                                        <td>540x25 mm</td>
                                        <td>M24x750x6 nos</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>16m</td>
                                        <td>2</td>
                                        <td>20</td>
                                        <td>8375</td>
                                        <td>150/360</td>
                                        <td>3,3</td>
                                        <td>540x25 mm</td>
                                        <td>M24x750x8 nos</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>16m</td>
                                        <td>2</td>
                                        <td>20</td>
                                        <td>8375</td>
                                        <td>150/460</td>
                                        <td>3,4</td>
                                        <td>670x25 mm</td>
                                        <td>M24x750x8 nos</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>18m</td>
                                        <td>2</td>
                                        <td>20</td>
                                        <td>9300</td>
                                        <td>150/460</td>
                                        <td>3,4</td>
                                        <td>570x25 mm</td>
                                        <td>M24x750x8 nos</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>20m</td>
                                        <td>2</td>
                                        <td>20</td>
                                        <td>10375</td>
                                        <td>150/410</td>
                                        <td>3,3</td>
                                        <td>670x25 mm</td>
                                        <td>M24x750x12 nos</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>20m</td>
                                        <td>2</td>
                                        <td>20</td>
                                        <td>10375</td>
                                        <td>150/460</td>
                                        <td>3,4</td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                OCTAGONAL POLES
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <div class="col-sm-4">
                                <img class="img-responsive" src="{% static 'img/gallery/2.jpg' %}" alt=""/>
                            </div>
                            <div class="col-sm-8">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                                nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                            <div class="col-sm-12" style="overflow-x: scroll;">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Sr.No.</th>
                                        <th>Pole Height</th>
                                        <th>70p/Bottom<br> dia in mm</th>
                                        <th>Base Plate<br> Details (mm)</th>
                                        <th>Foundation<br> bolh</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>3</td>
                                        <td>70/130</td>
                                        <td>200x200x12</td>
                                        <td>M16x450x4 nos</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>4</td>
                                        <td>70/130</td>
                                        <td>200x220x12</td>
                                        <td>M16x600x4 nos</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>5</td>
                                        <td>70/130</td>
                                        <td>200x220x12</td>
                                        <td>M16x600x4 nos</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>6</td>
                                        <td>70/130</td>
                                        <td>200x220x16</td>
                                        <td>M16x650x4 nos</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>7</td>
                                        <td>70/130</td>
                                        <td>200x220x16</td>
                                        <td>M16x650x4 nos</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                SWAGED TUBULAR POLES
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingThree">
                        <div class="panel-body">
                            <div class="panel-body">
                                <div class="col-sm-4">
                                    <img class="img-responsive" src="{% static 'img/gallery/3.jpg' %}" alt=""/>
                                </div>
                                <div class="col-sm-8">
                                    Swaged Tubular Pole will be manufactured from complete range of 410SP-1 to 410SP-80
                                    (7 m to 16 m) according to otabdard specification customer requirements.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                PIPE POLES
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingFour">
                        <div class="panel-body">
                            <div class="panel-body">
                                <div class="col-sm-4">
                                    <img class="img-responsive" src="{% static 'img/gallery/4.jpg' %}" alt=""/>
                                </div>
                                <div class="col-sm-8">
                                    Our manufacturing range starts from 3m to 9 m and can be manufactured according to
                                    customer requirements. These poles are generally used for street lighting in
                                    township, commercial complexes, roads etc.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                CAMERA POLES
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingFive">
                        <div class="panel-body">
                            <div class="panel-body">
                                <div class="col-sm-4">
                                    <img class="img-responsive" src="{% static 'img/gallery/5.jpg' %}" alt=""/>
                                </div>
                                <div class="col-sm-8">
                                    Can be manufactured as per customer to technological requirement and are used for
                                    fixing all types of electrical to electronic devices.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSix">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                SMART POLES
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                        <div class="panel-body">
                            <div class="panel-body">
                                <div class="col-sm-4">
                                    <img class="img-responsive" src="{% static 'img/gallery/6.jpg' %}" alt=""/>
                                </div>
                                <div class="col-sm-8">
                                    It can be manufactured &amp; designed as per customer &amp; technical requirement
                                    and are used for fixing all types of electrical &amp; electronics devices.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSeven">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseSeven" aria-expanded="false" aria-controls="headingSeven">
                                DISTRIBUTION POLES
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingSeven">
                        <div class="panel-body">
                            <div class="panel-body">
                                <div class="col-sm-4">
                                    <img class="img-responsive" src="{% static 'img/gallery/7.jpg' %}" alt=""/>
                                </div>
                                <div class="col-sm-8">
                                    Can be manufactured as per customer requirement &amp; used for distribution of
                                    electricity.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingEight">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                SOLAR STREET LIGHT POLE
                            </a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingEight">
                        <div class="panel-body">
                            <div class="panel-body">
                                <div class="col-sm-4">
                                    <img class="img-responsive" src="{% static 'img/gallery/9.jpg' %}" alt=""/>
                                </div>
                                <div class="col-sm-8">
                                    Can be manufactured from a range of 4.5 m to 13 m as per customer requirement for
                                    various solar light &amp; panel.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="industrial_fabric">
    <!--<div class="row">-->
        <div class="col-sm-6">
            <header>
                <h2 class="section-title-left">INDUSTRIAL FABRICATION</h2>
            </header>
            <article>

                <p>
                    We do work in industrial fabrication such as industrial shed parts, industrial job work, and solar
                    structure according to specification drawing provided by customer.
                </p>

            </article>
        </div>
        <div class="col-sm-6">
            <header>
                <h2 class="section-title-left">DECORATIVE BRACKETS</h2>
            </header>
            <article>
                <p>
                    We do work in industrial fabrication such as industrial shed parts, industrial job work, and solar
                    structure according to specification drawing provided by customer.
                </p>
            </article>
        </div>
    <!--</div>-->
</div>


<div class="container" id="material_specification">
    <!--<div class="row">-->
        <div class="col-sm-12">
            <header>
                <h2 class="section-title-left">MATERIAL SPECIFICATION</h2>
            </header>
        </div>
        <article>
            <div class="col-sm-12">
                <ul class="list-unstyled">
                    <li>
                        <i class="fa fa-snowflake-o"> Highmast Pole Shaft - 3mm & 4mm</i>
                    </li>
                    <li>
                        <i class="fa fa-snowflake-o"> Ms Plate of Standard Bsen - 10025</i>
                    </li>
                    <li>
                        <i class="fa fa-snowflake-o"> Foundation Bolts - 75 Standard 2062, E250A</i>
                    </li>
                    <li>
                        <i class="fa fa-snowflake-o"> Galvanisation: 15 4759/150 1461</i>
                    </li>
                    <li>
                        <i class="fa fa-snowflake-o"> Base Plate - IS 2062 YST-240 (Min.)</i>
                    </li>

                </ul>
            </div>
        </article>
    <!--</div>-->
</div>


{% endblock %}


{% block js %}

{% endblock %}